<main id="container">
    <app-detalle-pokemon
    [pokemon]="pokemonseleccionado"
    (cambiarAbierto)="cambiarestadodetalle()"
    [abierto] = "detalle"
    ></app-detalle-pokemon>

<app-foto-pokemon 
[pokemon]="pokemonseleccionado"></app-foto-pokemon>


<div id="tarjetasContainer" #tarjetas (scroll)="onScroll($event)">
    <app-tarjeta-pokemon *ngFor="let pokemon of listaPokemon"
    [data]="pokemon" 
    [seleccionado]="pokemon.name === pokemonseleccionado?.name"
    (clickeado)="tarjetaclickeada($event)"></app-tarjeta-pokemon>

    <img src="../../../assets/img/spinner.svg" alt="Cargando" id="spinner" *ngIf="cargando">
</div>

</main>