#container {
    height: calc(100vh - 110px);
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    background: repeating-linear-gradient(
      0deg,
      #79a0e3 ,
      #79a0e3 15px,
      #79a0e3 15px,
      #c7d9ee 25px
    );
    
}
app-detalle-pokemon {
  position: absolute;
  z-index:1 ;
}
app-foto-pokemon {
    margin-left: 100px;
    z-index: 2;
}

#tarjetasContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 100%;
  overflow-y:scroll ;
  overflow-x:hidden ;
}

#spinner {
  max-height: 50px;
}

